<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build artifact</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.zentimestamp.ZenTimestampJobProperty plugin="zentimestamp@4.2">
      <changeBUILDID>true</changeBUILDID>
      <pattern>yy-MM-dd-HHmmss</pattern>
    </hudson.plugins.zentimestamp.ZenTimestampJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.1.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/devopshydclub/vprofile-project.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>OracleJDK11</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean install</targets>
      <mavenName>MAVEN3</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>mkdir -p version
#cp target/vprofile-v2.war version/vprofilev$BUILD_ID.war
cp target/vprofile-v2.war version/vprofilev$BUILD_TIMESTAMP.war
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>